/* MEDIA QUERIES */
/* For mobile screens */
@media(max-width: 480px) {
    h1 {font-size: 2.6rem;}

    input[type="text"] {width: 100%;}
    
    .wrapper {width: 90%;}

    .modalInner {  
        width: 90%;
    }

    .modalTop {
        flex-direction: column-reverse; 
        button {margin-bottom: 10px;}
    } 

    .timeSelection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    select {
        margin-bottom: 5px;
        width: 200px;
        text-align: center;
    }

    .timeSelection button { width: 200px; }
}
