// Prompt selection modal styles
.modalOuter {
    padding: 100px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
}

.modalInner {
    position: relative;
    padding: 50px 40px;
    background-color: white; 
    color: $black;
    width: 80%;
    height: 80vh;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 5px #1d1d1d1a;
    overflow: auto;
}

.exitButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    border: none;
}

.modalTop { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    button {     
        display: flex;
        align-items: center; 
        border: none; 
        &:hover,
        &:focus {color: $lightblue}
    }
    i {font-size: 1.6rem;}
}

.fa-chevron-right {margin-left: 5px;}
.fa-chevron-left {margin-right: 5px;}

.promptSubmitForm {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 20px;
    height: 100%;
    textarea { margin-bottom: 20px; }
    button { 
        @include altButton(10px 20px, 170px)  
        align-self: center;
        &:hover,
        &:focus { background-color: $lightblue; }
    }
}  

li { 
    text-align: center;
    background-color: rgb(245, 245, 245); 
    padding: 10px; 
    margin: 30px 0;
    span { 
        color: grey;
    }
    p {margin-bottom: 10px;}
    button {
        background-color: white;
        font-size: 1.6rem; 
        margin: 0 auto;
        border: 1px solid #cecece;
        border-radius: 5px;
        padding: 5px 15px;
        box-shadow: 0px 0px 5px 5px #7c7c7c11;
        &:hover,
        &:focus {
            color: $lightblue;
            border: 1px solid $lightblue;
        }
    }
}
