// Prompt selection modal styles
.modalOuter { 
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;     
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 10;
}

.modalInner {
    position: absolute;
    color: $black;
    background-color: white; 
    padding: 0 40px; 
    height: 80vh;
    max-width: 800px;  
    width: 80%;
    overflow: auto;
}

.exitButton {
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 25px; 
    font-size: 3rem;  
    border: none;
}

.modalTop { 
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    button {     
        display: flex;
        align-items: center; 
        border: none; 
        &:hover,
        &:focus {color: $lightblue}
    }
    i {font-size: 1.6rem;}
}

.fa-chevron-right {margin-left: 5px;}
.fa-chevron-left {margin-right: 5px;}

.promptSubmitForm {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 80%;
    textarea { margin-bottom: 20px; }
    button { 
        @include altButton(10px 20px, 170px);  
        align-self: center;
        &:hover,
        &:focus { background-color: $lightblue; }
    }
}   

li { 
    text-align: center;
    background-color: rgb(245, 245, 245); 
    padding: 20px; 
    margin: 30px 0;
    span { 
        color: grey;
    }
    p {margin-bottom: 20px;}
    button {
        font-size: 1.6rem; 
        margin: 0 auto; 
        border: none;
        border-radius: 5px;
        padding: 5px 15px; 
        color: $black;
        background-color: $lightblue;
        &:hover,
        &:focus {
            color: white;
            background-color: $darkblue;
        }
    }
}
