@import 'variables';
@import 'setup';
@import 'global';

:root {
  --inner-width: 100%;
  --body-font-color: $black;
} 

body {
    font-family: $primaryfont;
    min-width: 350px;
    min-height: 100vh;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--body-font-color)
}

.App {transition: all 0.3s;}

header {
    padding-top: 30px; 
    display: flex;
    justify-content: space-between;
}

main {
    position: relative;
    padding: 100px 0;
} 

h1, h2, h3 {font-family: $headerfont;}
h1 {font-size: 3rem;}
h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}
h3 {font-size: 2rem;}

.toggleButton { 
    display: flex;
    align-items: center;
    span {margin-right: 5px;}
    button {
        position: relative;
        height: 30px;
        width: 60px;
        background-color: #252525;
        border: none; 
        border-radius: 20px;  
        i { 
            font-size: 1.6rem;
            margin: 0 5px;
        }
        &::after{
            content: '';
            height: 20px;
            width: 20px; 
            background-color: grey;
            border-radius: 50%; 
            position: absolute;
            top: 5px; 
            right: 6px;
            transition: all 0.2s;
        }
    }
}

.move::after {transform: translateX(-27px);}

.fa-moon,
.fa-sun {color: #ececec;}s
.lightMode {background-color: white;}
.darkMode {background-color: $darkblue;}

.promptSelection,
.timeSelection {
    text-align: center;
    padding: 30px 0;
    button {  
        background-color: $lightblue;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 5px 10px;
        &:hover,
        &:focus { 
        }
    }
}

.formBottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

button[type="reset"] {
    background-color: $lightblue;
    border: none;
    border-radius: 20px;
    padding: 5px; 
    width: 70px;
    font-size: 1.6rem;
}

.writingComponent {
    margin-top: 50px;
}

.timesUp {
    font-weight: 700;
    text-align: center;
    height: 50px; 
    display: flex;
    p {margin: auto;}
}

.saveToPDF { 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    button {
        font-size: 2.4rem;
        border: none; 
        color: grey;
        margin-left: 10px;
    }
}

// Timer progress bar
.outer {
    background-color: #f1f1f1;
    width: 100%;
    height: 10px; 
}

.inner {
    background-color: $lightblue;
    height: 100%;
    width: var(--inner-width); 
}

// Writing Form
.writingForm {
    display: flex;
    flex-direction: column;
}

// Text areas for all forms
.title {
    width: 50%;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid $lightgrey;
    &:focus {
        border-bottom: 1px solid grey;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid $lightgrey;
    overflow: auto;
    resize: none;
    &:focus {
        border: 1px solid grey;
    }
}

select {
    padding: 5px 10px; 
}