@import 'setup';

:root {
  --inner-width: 100%;
}

.wrapper {
    width: 80%; 
    margin: 0 auto;
}

button {
    cursor: pointer;
}

main {position: relative;}

.modal {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
}

// Timer progress bar
.outer {
    background-color: rgb(206, 206, 206);
    width: 200px;
    height: 20px; 
}

.inner {
    background-color: pink;
    height: 100%;
    width: var(--inner-width);
}

