@import 'setup';

.wrapper {
    width: 80%; 
    margin: 0 auto;
}

button {
    cursor: pointer;
}

main {position: relative;}

.modal {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
}